html {
    font-family: 'Raleway', sans-serif;
}

:is(header, main) {
    max-width: calc(600 / 16 * 1rem);
    width: 100%;
    margin: 0 auto;
}

article {
    display: flex;
    flex-direction: column;
}

form {
    border: 1px solid black;
    display: flex;
}

form input {
    font-size: calc(20 / 16 * 1em);
    border: none;
    padding: 1em 0.5em;
}

form button {
    margin-left: auto;
    font-size: calc(20 / 16 * 1em);
    border: none;
    background-color: transparent;
}

form button:hover {
    color: lightcoral;
}